.nav-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* padding: 2rem; */
  /* padding-bottom: 0; */
}
.logo {
  margin-left: 3rem;
}
.ul_link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;

  list-style: none;
  font-size: larger;
  font-weight: 700;
  font-family: "yekan";
}
.li_link:hover a {
  color: rgb(228, 224, 30);
  transition: all 150ms 50ms ease-in;
}
.li_link {
  width: fit-content;
}
a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}
