.team_bg {
  width: 100%;
  height: 517px;
  padding: 80px 0 100px;
  box-sizing: border-box;
  background-color: #fff;
  margin: 0;
}
.team_title {
  color: #545454;
  font-size: 35px;
  font-family: "Poppins";
  margin-bottom: 5px;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 38px;
}
.Team_title_description {
  color: #8c9597;
  font-size: 16px;
  margin-bottom: 85px;
}
.team_box {
  width: 100%;
  min-height: 183px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 30px;
}
.team1,
.team2,
.team3 {
  width: 360px;
  min-height: 163px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.team_img {
  width: 125px;
  height: auto;
  border-radius: 100%;
}
.team_stuff {
  width: 210px;
  min-height: 163px;
}
.team1_title1,
.team2_title1,
.team3_title1 {
  font-family: "Poppins";
  color: #5e5e5e;
  font-size: 20px;
  margin: 12px 0 5px;
  width: 100%;
  height: 24px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.team1_title2,
.team2_title2,
.team3_title2 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 0;
  width: 100%;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.team1_title2 {
  color: #f18b6d;
}
.team2_title2 {
  color: #f1d204;
}
.team3_title2 {
  color: #6a4d8a;
}
.team1_description,
.team2_description,
.team3_description {
  width: 100%;
  min-height: 40px;
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-bottom: 10px;
  color: #8c9597;
  text-align: start;
}
.team1_icon,
.team2_icon,
.team3_icon {
  width: 100%;
  height: 26px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.4rem;
}
.team1_facebook,
.team2_facebook,
.team3_facebook {
  width: 25px;
  height: auto;
}

.team1_twitter,
.team2_twitter,
.team3_twitter {
  width: 25px;
  height: auto;
}
.team1_linkedin,
.team2_linkedin,
.team3_linkedin {
  width: 25px;
  height: auto;
}

.team1_linkedin,
.team1_facebook,
.team1_twitter {
  fill: #f18b6d;
}
.team2_linkedin,
.team2_facebook,
.team2_twitter {
  fill: #f1d204;
}
.team3_linkedin,
.team3_facebook,
.team3_twitter {
  fill: #6a4d8a;
}
